.home {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffa4a4;
}

.nav-link {
  font-family: "GT Maru Mega";
  color: white;
  text-decoration: none;
  font-size: 30px;
  line-height: 26px;
  transition: all 400ms;
}

.nav-link:hover {
  color: #6966fe;
  transform: scale(1.05);
}
